spring:
  application:
    name: jchat-be
  # 데이터소스 설정 - DB 연결 정보
  datasource:
    # JDBC URL - localhost:5432는 PostgreSQL 기본 포트, your_database는 DB명
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_URI}?${DB_QUERY_STRING:prepareThreshold=0&preparedStatementCacheQueries=0}
    # DB 접속 계정
    username: ${DB_NAME}
    # DB 접속 비밀번호
    password: ${DB_PASSWORD}
    # JDBC 드라이버 클래스 (생략 가능, 자동 감지됨)
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10  # Supabase Pooler 사용 시 10 이하 권장
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 600000

server:
  port: ${PORT:8080}

# MyBatis 설정
mybatis:
  # MyBatis 설정
  configuration:
    # 스네이크 케이스 → 카멜 케이스 자동 변환
    map-underscore-to-camel-case: true
    # SQL 로그 출력 레벨 (개발 시 유용, 운영에선 끄는 게 좋음)
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    # NULL 값 처리
    call-setters-on-nulls: true
#    default-executor-type: SIMPLE # REUSE 대신 SIMPLE
#    local-cache-scope: STATEMENT # 캐시 범위 축소
  # Mapper XML 파일 위치 (classpath: = src/main/resources/)
  mapper-locations: classpath:mapper/**/*.xml

# jwt
jwt:
  secret: ${JWT_SECRET}
  access-token-validity: 3600000   # 1시간 (밀리초) 3600000 1시간 1800000 30분 60000 1분
  refresh-token-validity: 604800000  # 7일 (밀리초)

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000}